body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.secondary-text {
    font: 18px;
    color: #ebe1d0;
}

.header {
    background-color: #675D50;
    color: #F3DEBA;
    display: flex;
    flex-direction: column;
}

.header-top {
    padding-top: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.header-bottom {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.header-main-text {
    font-size: 48px;
    font-weight: 900;
}

.header-image {
    width: 400px;
    height: auto;
}

.header-sub-text {
    padding-bottom: 8px;
}

.sign-up-button {
    background-color: #ABC4AA;
    font-size: 16px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.information-image {
    width: 300px;
    height: auto;
    border: 5px solid #ABC4AA;
    border-radius: 8px;
}

.info-container {
    background-color: #F3DEBA;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px 0 64px;
    gap: 32px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #675D50;
}

.information-grid {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.image-text {
    inline-size: 300px;
    text-align: center;
    color: #665d53;
}

.quote-area {
    background-color: #A9907E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quote-source {
    font-size: 26px;
    font-weight: bold;
    align-self: flex-end;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 16px;
}